/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use 'vuetify' with (
//   $color-pack: false
// );
.v-container {
  max-width: 100%; /* Default value for extra-small screens */
}

.v-main {
  max-width: 100%;
  max-height: 100vh;
}

/* Small screens */
@media (min-width: 600px) {
  .v-container {
    max-width: 80%;
  }
}

/* Medium screens */
@media (min-width: 960px) {
  .v-container {
    max-width: 70%;
  }
}

/* Large screens */
@media (min-width: 1264px) {
  .v-container {
    max-width: 70%;
  }
}

/* Extra-large screens */
@media (min-width: 1904px) {
  .v-container {
    max-width: 70%;
  }
}
